/*=============== BUTTONS ===============*/
.button{
    width: 48px;
    height: 48px;
    line-height: 50%;
    font-size: 24px;
    border-radius: 999px;
    font-weight: var(--font-medium);
    transition: .3s;
    background: transparent;

    &:hover{
        background-color: var(--body-color);
    }
}