/*=============== sendbox ===============*/
.sendbox {
  width: 100%;
  padding: 1rem;
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;

  box-shadow: 0 0 40px #00000030;
}

.sendbox__wrapper {
  position: relative;
}

.input {
  //height: 400px;

  width: calc(100% - 60px);
  padding: 1rem 4.25rem 1rem 3.25rem;

  background: var(--secondary-color);
  border-radius: 2.14rem;

  font-family: "Poppins", sans-serif;
  font-weight: 500;

  &::placeholder {
    font-weight: 500;
  }
}

.input-icon {
  //width: 25px;
  height: 30px;
  font-size: 1.8rem;
  position: absolute;
  bottom: -5px;
  transform: translateY(-50%);
  padding-left: 1rem;
  cursor: pointer;

}

.input-icon_right {
  right: 80px;
}


.sendbox__heart {
  font-size: 1.8rem;
  //float: right;

  border: none;

  width: 3.4286rem;
  height: 3.4286rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 7rem;

  position: absolute;
  right: 0;
  bottom: 0;

  &:hover {
    background: var(--body-color);
  }
}

