/*=============== sendbox ===============*/
.sendbox {
  width: 100%;
  padding: 1rem;
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.sendbox__wrapper {
  position: relative;
}

.input {
  width: calc(100% - 60px);
  padding: 1rem 3.25rem;

  background: var(--secondary-color);
  border-radius: 2.14rem;

  font-family: "Poppins", sans-serif;
  font-weight: 500;

  &::placeholder {
    font-weight: 500;
  }
}

.input-icon {
  font-size: 1.8rem;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  padding-left: 1rem;
  cursor: pointer;
}

.input-icon_right {
  right: 80px;
}


.sendbox__heart {
  font-size: 1.8rem;
  float: right;

  border: none;

  width: 3.4286rem;
  height: 3.4286rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 7rem;

  &:hover {
    background: var(--body-color);
  }
}

