/*=============== HEADER ===============*/
.head {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.head__profilebox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*=============== Profile ===============*/
.profilebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__button {
  margin-right: 16px;
}

.profile__user {
  padding: 0;
}

/*=============== Tools ===============*/
.chat-tools {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-tools__icons {
  font-size: 32px;
  color: var(--first-color);
}
.chat-tools__icon{
  padding: 4px;
  cursor: pointer;
  &:hover{
    color: #3e48b9;
  }
}
