/*=============== HOME ===============*/
.wrapper {
  //padding: 40px 0 0 0;
}


.message-wrapper {
  display: flex;
  //align-items: center;
  margin: 8px 20% 8px 0;

  .user__photo {
    width: 32px;
    height: 32px;
  }


}
.user-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.user {
  display: flex;
  align-items: center;
  padding: 10px 0;

  &__photo {
    width: 40px;
    height: 40px;

    overflow: hidden;

    background: var(--first-color);
    border-radius: 50%;

    text-align: center;
    line-height: 40px;

    margin-right: 16px;
  }

  &__name {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
  }
}

.message {
  background: var(--secondary-color);
  color: var(--black-color);
  padding: 16px 24px;
  border-radius: 30px;
  line-height: 130%;
  font-weight: 400;
  display: inline-block;

  &__reply {
    margin-left: auto;
    color: var(--body-color);
    background: var(--first-color);
  }
}
.user-messages{
  display: flex;
  flex-direction: column;
}
.message_small{
  font-weight: 400;
  background: none;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: gray;
}
.message__emoji{
  background: transparent;
  padding-right: 0;
  font-size: 24px;
}
.message-wrapper_margin-left{
  margin: 8px 0 8px 20%;
}

.chat-footer{
  background: white;
  padding: 24px 32px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

