/*=============== ABOUT ===============*/
.phone {
  max-width: 470px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  background: var(--black-color);
  border-radius: 40px;

  &__container {
    background: var(--body-color);
    border-radius: 20px;

    padding: 20px 10px;
    margin: 0 auto;

    height: 600px;
    width: 92%;

  }
}