
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    background: white;

    &-thumb{
        background: var(--first-color);
        border-radius: .5rem;
    }
}